In [1]:
import pandas as pd
import os
import seaborn as sns
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
os.chdir('C:\\businenss analysis and saftware\\data')

In [3]:
e1 = pd.read_excel('Data Exhibit 1.xlsx')

In [4]:
e1.head()

,R36 Car No.,R36 Mileage,R36 Top speed,M32 Car No.,M32 Mileage,M32 top speed
0,1,21.20,151.9,1,15.04,211.3
1,2,21.79,147.6,2,15.41,207.0
2,3,21.87,145.6,3,15.43,206.2
3,4,22.71,136.1,4,15.92,213.4
4,5,22.52,139.7,5,15.20,204.2

In [5]:
re2 = pd.read_excel('DE 2 Rocinante 36.xlsx')

In [6]:
re2.head()

,Cars,"Sales \n(in 1,000 units)",Price\n(in lakh rupees),Mileage\n(Km/ltr),Top speed (Km/hr)
0,Rocinante 1,171.877,6.1,15.8,168.2
1,Rocinante 2,139.796,6.1,12.1,149.6
2,Rocinante 3,178.947,9.9,17.0,173.4
3,Rocinante 4,140.022,5.8,11.6,170.6
4,Rocinante 5,186.476,10.0,17.2,175.0

In [7]:
me2 = pd.read_excel('DE 2 Marengo32.xlsx')

In [8]:
me2.head()

,Cars,"Sales \n(in 1,000 units)",Price\n(in lakh rupees),Mileage\n(Km/ltr),Top speed (Km/hr)
0,Marengo 1,20.896,42.5,9.3,199.4
1,Marengo 2,31.048,36.0,9.7,235.2
2,Marengo 3,29.904,54.7,16.6,240.8
3,Marengo 4,28.792,42.7,11.7,232.5
4,Marengo 5,16.776,44.9,13.7,188.8

### Q2) T-Test

In [9]:
import numpy as np
import scipy as scipy 
from scipy import stats

##### Rocinante36 Mileage

In [10]:
rmdata = e1['R36 Mileage']

In [11]:
stats.ttest_1samp(rmdata,22)

TtestResult(statistic=-1.8350746065984094, pvalue=0.08220024707686456, df=19)

##### Rocinante36 Top Speed

In [12]:
rtdata = e1['R36 Top speed']

In [13]:
stats.ttest_1samp(rtdata,140)

TtestResult(statistic=0.803602305363553, pvalue=0.43156615071637905, df=19)

#### Marengo32 Mileage

In [14]:
if 'M32 top speed' in e1.columns:
    print(e1['M32 top speed'])
else:
    print("Column not found")

Column not found

In [15]:
e1.columns = e1.columns.str.strip()

In [16]:
e1["M32 top speed"]

0     211.3
1     207.0
2     206.2
3     213.4
4     204.2
5     208.7
6     200.0
7     210.9
8     208.5
9     214.2
10    215.8
11    215.8
12    215.2
13    218.7
14    208.0
15    212.2
16    219.7
17    216.4
18    205.8
19    209.0
Name: M32 top speed, dtype: float64

In [17]:
mmdata = e1["M32 top speed"]

In [18]:
e1.columns = e1.columns.str.strip()  # This removes any leading/trailing spaces from the column names

In [19]:
stats.ttest_1samp(mmdata,15)

TtestResult(statistic=170.36642627794527, pvalue=1.014245488010321e-31, df=19)

#### Marengo32 Top Speed

In [20]:
mtdata = e1['M32 top speed']

In [21]:
stats.ttest_1samp(mtdata,210)

TtestResult(statistic=0.9124445171733968, pvalue=0.3729676712183989, df=19)

## Q4) Reggrestion

### Reggresion equation for Rocinante36

In [22]:
import statsmodels.api as sm

In [23]:
# Convert to DataFrame
df = pd.DataFrame(re2)

# Independent variables (Price, Mileage, Top Speed)
X = df[['Price\n(in lakh rupees)','Mileage\n(Km/ltr)', 'Top speed (Km/hr)']]

# Dependent variable (Sales)
y = df['Sales \n(in 1,000 units)']

# Add constant (intercept) to the model
X = sm.add_constant(X)

# Fit the regression model
model = sm.OLS(y, X).fit()

# Display the model summary
print(model.summary())

                               OLS Regression Results
===================================================================================
Dep. Variable:     Sales
(in 1,000 units)   R-squared:                       0.996
Model:                                 OLS   Adj. R-squared:                  0.995
Method:                      Least Squares   F-statistic:                     2430.
Date:                     Thu, 24 Oct 2024   Prob (F-statistic):           7.45e-37
Time:                             17:16:48   Log-Likelihood:                -76.809
No. Observations:                       35   AIC:                             161.6
Df Residuals:                           31   BIC:                             167.8
Df Model:                                3
Covariance Type:                 nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                     50.7231      5.292      9.585      0.000      39.930      61.516
Price
(in lakh rupees)    -0.7950      0.254     -3.126      0.004      -1.314      -0.276
Mileage
(Km/ltr)           8.3063      0.100     82.913      0.000       8.102       8.511
Top speed (Km/hr)         -0.0186      0.031     -0.608      0.548      -0.081       0.044
==============================================================================
Omnibus:                        2.817   Durbin-Watson:                   1.655
Prob(Omnibus):                  0.245   Jarque-Bera (JB):                2.103
Skew:                           0.600   Prob(JB):                        0.349
Kurtosis:                       3.030   Cond. No.                     2.23e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.23e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [24]:
# predicted sales
# Sales=50.7231−0.7950⋅Price+8.3063⋅Mileage−0.0186⋅Top speed
50.7231 + (- 0.7950*7)+(8.3063+22)+(- 0.0186*140)

72.86040000000001

### Reggresion equation for Marengo32

In [25]:
# convert to dataframe 
df = pd.DataFrame(me2)

In [26]:
# Independent variables (Price, Mileage, Top Speed)
X = df[['Price\n(in lakh rupees)','Mileage\n(Km/ltr)', 'Top speed (Km/hr)']]

In [27]:
# Dependent variable (Sales)
y = df['Sales \n(in 1,000 units)']

In [28]:
# Add constant (intercept) to the model
X = sm.add_constant(X)

In [29]:
# Fit the regression model
model = sm.OLS(y, X).fit()

In [30]:
# Display the model summary
print(model.summary())

                               OLS Regression Results
===================================================================================
Dep. Variable:     Sales
(in 1,000 units)   R-squared:                       0.863
Model:                                 OLS   Adj. R-squared:                  0.848
Method:                      Least Squares   F-statistic:                     56.74
Date:                     Thu, 24 Oct 2024   Prob (F-statistic):           8.74e-12
Time:                             17:16:48   Log-Likelihood:                -67.757
No. Observations:                       31   AIC:                             143.5
Df Residuals:                           27   BIC:                             149.2
Df Model:                                3
Covariance Type:                 nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                    -13.4476      4.454     -3.019      0.005     -22.586      -4.309
Price
(in lakh rupees)    -0.1867      0.055     -3.368      0.002      -0.300      -0.073
Mileage
(Km/ltr)           0.0413      0.207      0.200      0.843      -0.383       0.465
Top speed (Km/hr)          0.2208      0.017     12.820      0.000       0.185       0.256
==============================================================================
Omnibus:                        2.082   Durbin-Watson:                   1.649
Prob(Omnibus):                  0.353   Jarque-Bera (JB):                1.181
Skew:                          -0.071   Prob(JB):                        0.554
Kurtosis:                       2.054   Cond. No.                     2.30e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.3e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [31]:
# Predicted Sale
# Sales=−13.4476−0.1867⋅Price+0.0413⋅Mileage+0.2208⋅Top speed
-13.4476+ (-0.1867*41)+ (0.0413*15)+ (0.2208*210)

25.8852

## Q5) Overall Predicted Profit

### Rocinante36

In [32]:
### Overall predicted sales 
73*7

511

In [33]:
### Overall predicted cost
73*6

438

In [34]:
### Overall predicted profit(in lacks)
511-438

73

###  Marengo32

In [35]:
### Overall predicted sales 
26*41

1066

In [36]:
### Overall predicted cost
26*33

858

In [37]:
### Overall predicted profit(in lacks)
1066-858

208

## Q8)

In [38]:
### from Q4 we can get significant and not signifocant variable fron regression 

### for Rocinante36 model price and milleage are significant but top speed are not significant 

df = pd.DataFrame(re2)

X = df[['Price\n(in lakh rupees)','Mileage\n(Km/ltr)']]

y = df['Sales \n(in 1,000 units)']

X = sm.add_constant(X)

model = sm.OLS(y, X).fit()

print(model.summary())

                               OLS Regression Results
===================================================================================
Dep. Variable:     Sales
(in 1,000 units)   R-squared:                       0.996
Model:                                 OLS   Adj. R-squared:                  0.995
Method:                      Least Squares   F-statistic:                     3718.
Date:                     Thu, 24 Oct 2024   Prob (F-statistic):           1.29e-38
Time:                             21:36:14   Log-Likelihood:                -77.017
No. Observations:                       35   AIC:                             160.0
Df Residuals:                           32   BIC:                             164.7
Df Model:                                2
Covariance Type:                 nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                     47.7800      2.113     22.608      0.000      43.475      52.085
Price
(in lakh rupees)    -0.7829      0.251     -3.119      0.004      -1.294      -0.272
Mileage
(Km/ltr)           8.2945      0.097     85.257      0.000       8.096       8.493
==============================================================================
Omnibus:                        1.906   Durbin-Watson:                   1.656
Prob(Omnibus):                  0.386   Jarque-Bera (JB):                1.567
Skew:                           0.509   Prob(JB):                        0.457
Kurtosis:                       2.805   Cond. No.                         91.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [39]:
### for Marengo32  model price and top speed are significant but millaege are not significant 

df = pd.DataFrame(me2)

X = df[['Price\n(in lakh rupees)', 'Top speed (Km/hr)']]

y = df['Sales \n(in 1,000 units)']

X = sm.add_constant(X)

model = sm.OLS(y, X).fit()

print(model.summary())

                               OLS Regression Results
===================================================================================
Dep. Variable:     Sales
(in 1,000 units)   R-squared:                       0.863
Model:                                 OLS   Adj. R-squared:                  0.853
Method:                      Least Squares   F-statistic:                     88.10
Date:                     Thu, 24 Oct 2024   Prob (F-statistic):           8.30e-13
Time:                             21:40:39   Log-Likelihood:                -67.779
No. Observations:                       31   AIC:                             141.6
Df Residuals:                           28   BIC:                             145.9
Df Model:                                2
Covariance Type:                 nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
const                    -12.9701      3.694     -3.511      0.002     -20.536      -5.404
Price
(in lakh rupees)    -0.1825      0.050     -3.627      0.001      -0.286      -0.079
Top speed (Km/hr)          0.2201      0.017     13.254      0.000       0.186       0.254
==============================================================================
Omnibus:                        2.394   Durbin-Watson:                   1.650
Prob(Omnibus):                  0.302   Jarque-Bera (JB):                1.258
Skew:                          -0.059   Prob(JB):                        0.533
Kurtosis:                       2.020   Cond. No.                     1.94e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.94e+03. This might indicate that there are
strong multicollinearity or other numerical problems.